<style type="text/css">
	
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

@font-face {
    font-family: 'Din';
    src: url('dinbek_bold-webfont.eot');
    src: url('dinbek_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinbek_bold-webfont.woff') format('woff'),
         url('dinbek_bold-webfont.ttf') format('truetype'),
         url('dinbek_bold-webfont.svg#dinbek_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Fira_Sans_Medium';
    src: url('firasans-medium-webfont.eot');
    src: url('firasans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-medium-webfont.woff') format('woff'),
         url('firasans-medium-webfont.ttf') format('truetype'),
         url('firasans-medium-webfont.svg#fira_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Fira_Sans_Regular';
    src: url('firasans-regular-webfont.eot');
    src: url('firasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-regular-webfont.woff') format('woff'),
         url('firasans-regular-webfont.ttf') format('truetype'),
         url('firasans-regular-webfont.svg#fira_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Fira_Sans_Book';
    src: url('firasans-book-webfont.eot');
    src: url('firasans-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-book-webfont.woff') format('woff'),
         url('firasans-book-webfont.ttf') format('truetype'),
         url('firasans-book-webfont.svg#fira_sansbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

ul {
	list-style: none;
	list-style: disc;
	padding-left: 20px;
	text-indent: none;
}

@font-face {
    font-family: 'Fira_Sans_Light';
    src: url('firasans-light-webfont.eot');
    src: url('firasans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-light-webfont.woff') format('woff'),
         url('firasans-light-webfont.ttf') format('truetype'),
         url('firasans-light-webfont.svg#fira_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 {
	font-family: 'Din', sans-serif;
	color: white;
	font-weight: normal !important;
	text-align: center;
	font-size: 4.4em !important;
	-webkit-transition: all 500ms cubic-bezier(0.000, 0.140, 0.225, 1); /* older webkit */
-webkit-transition: all 500ms cubic-bezier(0.000, 0.140, 0.225, 1.215); 
   -moz-transition: all 500ms cubic-bezier(0.000, 0.140, 0.225, 1.215); 
     -o-transition: all 500ms cubic-bezier(0.000, 0.140, 0.225, 1.215); 
        transition: all 500ms cubic-bezier(0.000, 0.140, 0.225, 1.215); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.000, 0.140, 0.225, 1); /* older webkit */
-webkit-transition-timing-function: cubic-bezier(0.000, 0.140, 0.225, 1.215); 
   -moz-transition-timing-function: cubic-bezier(0.000, 0.140, 0.225, 1.215); 
     -o-transition-timing-function: cubic-bezier(0.000, 0.140, 0.225, 1.215); 
        transition-timing-function: cubic-bezier(0.000, 0.140, 0.225, 1.215); /* custom */
}

::-moz-selection { 
	color: rgba(255,255,255,0.95);
    background: rgb(63,169,245);
}

.noborder {
	border: 0 !important;
}

::selection {
	color: rgba(255,255,255,0.95);
    background: rgb(63,169,245);
}

.sbs {
	cursor: pointer;
	border-bottom: 1px dotted white;
}

.oxford {
	margin-left: 10px;
}

.sbs:hover {
	border: 0;
}

h2 {
	font-family: 'Din', sans-serif;
	color: rgb(50,50,50);
	font-weight: 100 !important;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	font-size: 1.8em;
}

.tagline {
	font-family: 'Fira_Sans_Medium';
	color: white;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	font-size: 3em;
	letter-spacing: -1px;
	margin-bottom: 40px;
	margin-top: 40px;
}

h3 {
	margin-top: -20px;
	margin-bottom: 20px;
	font-family: 'Fira_Sans_Medium';
	text-transform: uppercase;
	font-size: 18px;
	font-weight: normal !important;
	text-align: center;
	color: rgb(160,160,160);
	-webkit-font-smoothing: antialiased;
}

.dark2{
	color: rgb(145,145,145) !important;
}

.icons {
	width: 93%;
	margin: 0 auto;
}

p {
	margin: 0 auto;
	margin-top: 10px;
	font-family: 'Fira_Sans_Book';
	color: rgb(90,90,90);
	font-weight: normal;
	font-size: 1.15em;
	line-height: 150%;
	width: 60%;
}

.c3 {
	width: 100%;
	padding: 0;
	margin-top: 50px;
}

.white {
	color: white;
}

.about h2 {
	font-size: 2em !important;
	color: rgb(60,60,60);
	margin-bottom: 28px;
}

.signuprow h2 {
	font-size: 2.4em;
	color: white;
	margin-bottom: 28px;
}

.about_text {
	text-align: justify;
	padding: 25px;
	font-size: 1.1em;
	color: rgb(70,70,70);
}

.dark {
	text-align: center !important;
}

.location {
	margin: 0;
	padding: 0;
}

.map {
	margin: 0;
	padding: 0;
	margin-top: 20px;
	border-bottom: 1px solid rgb(200,200,200);
	border-top: 1px solid rgb(200,200,200);
	width: 200% !important;
	margin-left: -100%;
}

.schedule {
	margin: 0;
	padding: 0;
	text-align: center;
	padding-bottom: 80px;
}

.location {
	margin: 0;
	padding: 0;
	text-align: center;
	padding-top: 40px;
}

.schedule h2, .location h2 {
	font-size: 2.6em;
	margin-bottom: 28px;
}

.about {
	margin-top: 30px;
	background: #e8eaeb;
	margin: 0;
	padding: 0;
	padding-bottom: 30px;
	padding-top: 10px;
	text-align: center;
	font-family: 'Fira_Sans_Book';
	color: rgb(55,55,55);
	line-height: 170%;
}

.signuprow {
	text-align: center;
	margin: 0;
	padding: 0;
	padding: 30px;
	padding-bottom: 15px;
}

.btn-primary {
	margin-top: 20px;
	background: #42B31D;
	font-family: 'Din', sans-serif;
	color: white;
	width: 250px;
	height: 50px;
	border-radius: 0;
	border: 0;
	font-size: 1.2em;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 35px;
}

.btn-primary:hover {
	background: #52C32D;
}

label {
	font-family: 'Fira_Sans_Medium';
	font-size: 1.2em;
	font-weight: normal !important;
	-webkit-font-smoothing: antialiased;
	text-shadow: none;
}

.partners {
	margin: 0 !important;
	margin-top: 50px;
	background: url('bgdark.jpg');
	background-size: cover;
	padding: 50px;
	width: 100%;
	text-align: center;
}

.partners h2 {
	font-size: 2.6em;
	margin-bottom: 28px;
	color: rgb(255,255,255);
	color: rgba(255,255,255,0.95);
}

.partners p {
	color: rgb(240,240,240);
	color: rgba(255,255,255,0.95);
	-webkit-font-smoothing: antialiased;
	text-align: center;
}

.getintouch {
	margin-top: 40px;
	background: #287fe2;
	font-family: 'Din', sans-serif;
	color: white;
	width: 180px;
	height: 45px;
	border-radius: 0;
	border: 0;
	font-size: 1.2em;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 35px;
}

.scrolldown, .pdf {
	margin-top: 50px;
	color: rgb(40,40,40);
	font-family: 'Din', sans-serif;
	background: white;
	width: 150px;
	height: 45px;
	border-radius: 0;
	border: 0;
	font-size: 1.2em;
	-webkit-font-smoothing: antialiased;
	margin-bottom: 35px;
	margin-left: 5px;
	margin-right: 5px;
}

.vspace {
	height: 50px;
}

hr {
	margin-top: 25px !important;
	border-top: 1px solid rgba(255,255,255,0.5);
}

h5 {
	font-family: 'Din', sans-serif;
	font-size: 1.8em;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	color: white;
}

h6 {
	font-family: 'Fira_Sans_Regular';
	-webkit-font-smoothing: antialiased;
	font-size: 1.2em;
	color: rgba(255,255,255,0.9);
	line-height: 150%;
}

.faqpic {
	margin: 0 auto;
	max-width: 45%;
}

.picbox {
	text-align: center;
	overflow: hidden;
}

.faqs {
	margin-top: 30px;
	min-height: 300px;
	font-family: 'Fira_Sans_Book';
	font-size: 1.1em;
	width: 80%;
	color: rgb(80,80,80);
}

.faqrow .col-md-4 {
	line-height: 150%;
}
.faqrow b {
	font-family: 'Fira_Sans_Medium';
	font-weight: normal;
	font-size: 1.25em;
	color: rgb(55,55,55);
	-webkit-font-smoothing: antialiased;
}

.faqrow h2 {
	font-size: 2.2em;
	text-align: center;
	margin-bottom: 30px;
}

input, select {
	font-family: 'Fira_Sans_Book' !important;
	font-weight: normal;
}

h4 {
	text-align: left;
	width: 310px;
	margin: 0 auto;
	line-height: 100%;
}

.space {
	height: 7px;
}

h4 .glyphicon {
	margin-right: 30px;
	width: 20px;
	font-size: 0.9em;
	margin-left: 5px;
}

#location {
	line-height: 10% !important;
}

.getintouch:hover, .scrolldown:hover, .pdf:hover {
	background: #3c94f5;
}

.scrolldown:hover, .pdf:hover {
	color: white;
}

.icon {
	width: 150px;
}

.col-md-4 {
	margin-bottom: 40px;
}

h4 {
	font-family: 'Din', sans-serif;
	color: white;
	font-size: 1.6em;
	font-weight: 100 !important;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
}

.white2 {
	color: rgba(255,255,255,0.6) !important;
}

.white3 {
	color: rgba(255,255,255,0.4);
}

.r1 {
	margin-top: 8%;
}

.c2 {
	text-align: center;
}

.signup_container {
	background-color: #007FC3;
	background-image: radial-gradient( at 35% top, rgba(70,110,222,0.5) 0%,rgba(84,90,182,0) 55%),radial-gradient( at left bottom, #090ab2 0%,rgba(21,74,182,0) 50%),radial-gradient( at right top, #87caff 0%,rgba(21,74,182,0) 50%);
	color: white;
}

video {
	width: 100% !important;
	height: auto !important;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url('bgtile.png');
}

.down {
	width: 35px;
	height: 35px;
	border-radius: 25px;
	font-weight: bold;
	background-color: white;
	margin: 0 auto;
	margin-top: 50px;
}

.abs {
	position: absolute !important;
	top: 0;
	left: 50%;
	transform: translate(-50%,0);
	text-align: center;
}

.minheight {
	min-height: 700px;
}

.video {
	margin: 0;
	padding: 0;
	width: auto !important;
	height: 100% !important;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.visible-lg-block {

}

.c1 {
	margin: 0;
	padding: 0;
	height: 90%;
	width: 100%;
	position: relative;
	overflow: hidden;
	text-align: center;
	background: url('bg.png');
	background-size: cover;
	background-attachment: fixed;
}

.title {
	margin: 0 auto !important;
	text-align: center !important;
}

.scroller {
	width: 100%;
	height: 100%;
}

.c1:after, .video:after {
    display: block;
    content: "\0020";
    color: transparent;
    width: 120%;
    height: 25%;
    background: white;
    position: absolute;
    bottom: -10%;
    left: -15px;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
}

.form-comment {
	text-align: left;
	margin-top: 10px;
	line-height: 150%;
	margin-bottom: 0;
	font-family: 'Fira_Sans_Book';
	-webkit-font-smoothing: antialiased;
	color: rgba(255,255,255,0.95) !important;
}

.qn {
	height: 150px;
}

.logo {
	margin: 0 auto;
	display: block;
	margin-top: 40px;
	margin-bottom: 20px;
}

.partners {
	margin: 0;
	padding: 0;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	background-size: cover;
	background: url('bgdark.jpg');
	overflow: hidden;
	text-align: center;
	background-repeat: repeat-x;
	background-attachment: fixed;
}

.c4 {
	padding: 30px;
	color: rgb(120,120,120);
	text-align: center;
	font-family: 'Fira_Sans_Book';
}

button {
	cursor: pointer;
}

.c4 a {
}

.sponsor-logo {
	margin: 20px;
	margin-left: 30px;
	margin-right: 30px;
}

.mlh {
	width: 125px;
	height: 73px;
	background: url('mlh-logo.png');
	background-size: 125px;
	background-position: 0 0;
	opacity: 0.8;
	display: inline-block;
}

.mlh:hover {
	background-position: 0 73px;
	opacity: 1;
	cursor: pointer;
}

.codecademy {
	width: 250px;
	height: 52px;
	background: url('codecademy-logo.png');
	background-size: 250px;
	background-position: 0 0;
	opacity: 0.8;
	display: inline-block;
	margin-bottom: 25px;
}

.codecademy:hover {
	background-position: 0 52px;
	opacity: 1;
	cursor: pointer;
}

.gocardless {
	width: 325px;
	height: 34px;
	background: url('gocardless-logo.png');
	background-size: 325px;
	background-position: 0 0;
	opacity: 0.8;
	display: inline-block;
	margin-bottom: 30px;
}

.gocardless:hover {
	background-position: 0 34px;
	opacity: 1;
	cursor: pointer;
}

.mendeley {
	width: 150px;
	height: 118px;
	background: url('mendeley-logo.png');
	background-size: 150px;
	background-position: 0 0;
	opacity: 0.8;
	display: inline-block;
}

.mendeley:hover {
	background-position: 0 118px;
	opacity: 1;
	cursor: pointer;
}

.mymuesli {
	width: 300px;
	height: 71px;
	background: url('mymuesli-logo.png');
	background-size: 300px;
	background-position: 0 0;
	opacity: 0.8;
	display: inline-block;
	margin-bottom: 45px;
}

.mymuesli:hover {
	background-position:0 71px;
	opacity: 1;
	cursor: pointer;
}

.treehouse {
	width: 464px;
	height: 104px;
	background: url('treehouse-logo.png');
	background-size: 464px;
	opacity: 0.8;
	margin-bottom: 50px;
	display: inline-block;
}

.treehouse:hover {
	background-position: 0 104px;
	cursor: pointer;
	opacity: 1;
}

.onfido {
	width: 180px;
	height: 62px;
	background: url('onfido-logo.png');
	background-size: 180px;
	background-position: 0 0;
	opacity: 0.8;
	display: inline-block;
}

.onfido:hover {
	cursor: pointer;
	opacity: 1;
	background-position: 0 62px;
}

.esri {
	width: 310px;
	height: 75px;
	background: url('esri-logo.png');
	background-size: 310px;
	background-position: 0 0;
	opacity: 0.8;
	display: inline-block;
}

.google {
	width: 250px;
	height: 86px;
	background: url('google-logo.png');
	background-size: 250px;
	background-position: 0 0;
	opacity: 0.8;
	display: inline-block;
}

.google:hover {
	cursor: pointer;
	opacity: 1;
	background-position: 0 86px;
}

.esri:hover {
	cursor: pointer;
	opacity: 1;
	background-position: 0 75px;
}

.janestreet {
	width: 370px;
	height:97px;
	background: url('janestreet-logo.png');
	background-size: 370px;
	background-position: 0 0;
	opacity: 0.8;
	display: inline-block;
}

.janestreet:hover {
	cursor: pointer;
	opacity: 1;
	background-position: 0 97px;
}

.datastax {
	width: 400px;
	height:90px;
	background: url('datastax-logo.png');
	background-size: 400px;
	background-position: 0 0;
	opacity: 0.8;
	display: inline-block;
}

.datastax:hover {
	cursor: pointer;
	opacity: 1;
	background-position: 0 90px;
}

.h6 a {
	color: white;
}

.hacknotts {
	width: 65%;
	display: block;
	margin: 0 auto;
}

.hacknotts:hover{
	box-shadow: 0px 0px 10px white;
}

.facebook {
	width: 330px;
	height:77px;
	background: url('facebook-logo.png');
	background-size: 330px;
	background-position: 0 0;
	opacity: 0.8;
	display: inline-block;
}

.facebook:hover {
	cursor: pointer;
	opacity: 1;
	background-position: 0 75px;
}

.sendgrid {
	width: 350px;
	height:89px;
	background: url('sendgrid-logo.png');
	background-size: 350px;
	background-position: 0 0;
	opacity: 0.8;
	display: inline-block;
}

.sendgrid:hover {
	cursor: pointer;
	opacity: 1;
	background-position: 0 89px;
}

.level39 {
	width: 250px;
	height: 154px;
	background: url('level39-logo.png');
	background-size: 250px;
	background-position: 0 0;
	opacity: 0.8;
	display: inline-block;
}

.level39:hover {
	cursor: pointer;
	opacity: 1;
}


* {
	text-shadow: none !important;
}

</style>